* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('font/Century Gothic.ttf') format('truetype'),
         url('font/CenturyGothic.ttf') format('truetype'),
         url('font/GOTHIC.TTF') format('truetype'),
         url('font/GOTHICB.TTF') format('truetype'),
         url('font/GOTHICB0.TTF') format('truetype'),
         url('font/GOTHICBI.TTF') format('truetype'),
         url('font/GOTHICI.TTF') format('truetype');
}

html {
    scroll-behavior: smooth;
    font-size: 1vw;
}

body {
    background-color: #141414;
    color: #e9e9e9;
    font-family: "Century Gothic";
    padding: 0 !important;
}

p, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav1 {
    display: none;
}

.nav2 {
    position: fixed;
    top: 4vw;
    right: 4vw;
    z-index: 2;
}

.nav2 button {
    color: #e52174;
    width: 15vw;
    height: 10vw;
}

.nav2 svg {
    color: #e52174;
}

.offcanvas {
    background-color: #141414;
    opacity: 0.8;
    width: 50vw !important;
}

.offcanvas svg {
    width: 12vw;
    margin-top: 4vw;
    margin-left: 2vw;
    color: #e52174;
    enable-background: new 0 0 24 24;
    .st0 {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.6724;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }

    .st2 {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7vw;
    font-size: 6rem;
    position: relative;
    overflow: hidden;
}

.offcanvas a {
    text-decoration: none;
    color: #e9e9e9;
}

.offcanvas-body img {
    position: absolute;
    width: 70vw;
    bottom: -18vw;
    right: -5vw;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sarapic {
    min-width: 700px;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0), rgba(20, 20, 20, 0));
}

.logo {
    position: absolute;
    width: 30vw;
    max-width: 200px;
    top: 0vw;
    left: 0vw;
}

.saraname {
    font-size: 14rem;
    text-transform: uppercase;
    letter-spacing: 1.5vw;
    position: absolute;
    bottom: 20vw;
}

.saratit {
    text-transform: capitalize;
    font-size: 5.5rem;
    word-spacing: 1vw;
    position: absolute;
    bottom: 15vw;
}

.main {
    text-align: center;
    font-size: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 9rem;
    color: #e52174;
    margin-top: 20vw;
    padding-top: 15vw;
    letter-spacing: 1vw;
}

#about {
    width: 85vw;
    padding-top: 5vw;
    text-align: justify;
    text-indent: 2vw;
    letter-spacing: 0.08vw;
    line-height: 4.5vw;
    position: relative;
    margin-bottom: 25vw;
}

#about::first-letter {
    font-size: 10rem;
    color: #e52174;
}

.flags {
    width: 50vw;
    position: absolute;
    left: -3vw;
    bottom: -13vw;
}

.sign {
    width: 27vw;
    position: absolute;
    right: 3vw;
    bottom: -21vw;
}

.galcat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 3vw;
    gap: 2vw;
}

.galcat .nav-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.galcat .nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.8vw;
    pointer-events: none;
    transition: 0.5s ease;
    background: linear-gradient(to top, rgba(0, 10, 103, 1), rgba(0, 10, 103, 0.7), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.galcat .nav-item:hover::before {
    opacity: 0.5;
}

.galcat img {
    width: 30vw;
    border-radius: 1vw;
    padding: 0;
}

.galcat p {
    position: absolute;
    font-size: 4.8rem;
    pointer-events: none;
}

.galcat .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galcat .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    background-color: rgba(20, 20, 20, 0.8) !important;
}

.galcat .modal-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 99vw;
    gap: 2vw;
}

.modal-header {
    border: none;
}

.modal-title {
    font-size: 6rem;
}

.modal p {
    font-size: 4rem;
}

.gal .carousel {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.gal .carousel-inner {
    width: 95vw;
    height: 107vw !important;
    margin-top: 45vw;
}

.gal .carousel-inner img {
    width: 95vw !important;
    border-radius: 1vw;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .gal .carousel-inner {
        height: 44vw;
    }

    .gal .carousel-inner img {
        width: 41.5vw;
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}

.carousel-indicators {
    position: relative;
    width: 95vw;
}

.pc-cont {
    position: absolute;
    bottom: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.5vw;
}

.pause {
    cursor: pointer;
    margin-right: 0.5vw;
    margin-bottom: 1.2vw;
}

.pause svg {
    color: #e9e9e9;
    width: 12vw;
}

.playicon {
    display: none;
}

.caption {
    font-size: 4.3rem;
    margin-bottom: 1.2vw;
}

.quote {
    font-size: 5rem;
    letter-spacing: 0.3vw;
    width: 90vw;
    color: #e9e9e9;
    margin-top: 45vw;
    margin-bottom: 20vw;
    position: relative;
}

.quote::before, .quote::after {
    position: absolute;
    content: '"';
    color: #e52174;
    font-size: 7rem;
    font-weight: 600;
}

.quote::before {
    left: -0.7vw;
    top: -0.7vw;
}

.quote::after {
    right: -0.7vw;
    bottom: -0.7vw;
}

.ban {
    width: 95vw;
    height: 36vw;
    border-radius: 2vw;
}

.ban img {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

#videos {
    padding-top: 50vw;
}

.vidcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    gap: 4vw;
    width: 95vw;
}

.vidcont div[data-bs-toggle="modal"] {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vidcont div[data-bs-toggle="modal"]::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    pointer-events: none;
    background-color: #141414;
    opacity: 0.2;
    transition: 0.5s ease;
}

.vidcont div[data-bs-toggle="modal"]:hover::before {
    opacity: 0;
}

.vidcont div[data-bs-toggle="modal"]:hover svg {
    transform: scale(1.1);
}

.vidcont img {
    width: 45vw;
    border-radius: 1vw;
}

.vidcont svg {
    position: absolute;
    width: 15vw;
    color: #fefefe;
    pointer-events: none;
    transition: 0.5s ease;
}

.modal-content {
    background-color: #141414;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
}

#port {
    padding-top: 70vw;
}

.download {
    width: 45vw;
    height: 15vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    font-size: 6rem;
}

.btn-custom {
    color: #e9e9e9;
    border-color: #e52174;
    border-width: 0.2vw;
    transition: 1s ease;
}

.btn-custom:hover {
    background-color: #e52174;
}

.btn-custom:active {
    font-size: 1.3rem;
}

#reviews {
    width: 50vw;
    padding-top: 40vw;
    filter: drop-shadow(0 0 1vw #5463e9);
    transition: filter 0.8s ease;
}

#reviews:hover {
    filter: drop-shadow(0 0 2vw #eb83ae);
}

.rev {
    width: 90vw;
    height: 63vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    padding: 3vw;
    box-shadow: 0 0 2vw 0.2vw #2133e5;
}

.revtitle {
    font-weight: 600;
    text-align: center;
}

.stock {
    font-size: 7.3rem;
    padding-top: 55vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vw;
}

.stockdis {
    font-size: 4.2rem;
}

.stock div:not(.imgcont) {
    width: 95vw;
    height: 19vw;
    text-align: left;
    margin: 1vw;
    border-radius: 2vw;
    font-size: 6.5rem;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.stock div:not(.imgcont):hover {
    transform: scale(1.1);
}

.stock div:not(.imgcont):active {
    transform: scale(1);
}

.stock a {
    text-decoration: none;
    color: #e9e9e9;
    width: 100%;
    height: 100%;
    padding: 3vw 0 3vw 3vw;
    display: flex;
    align-items: center;
}

.stock img {
    width: 16vw;
    border-radius: 1vw;
}

.imgcont {
    position: absolute;
    right: -2vw;
}

.img2 {
    opacity: 0.8;
}

.img3 {
    opacity: 0.6;
}

.arabst {
    background: linear-gradient(to right, #f77e1b, #e9e9e9);
}

.foodst {
    background: linear-gradient(to right, #ec3984, #e9e9e9);
}

.iconst {
    background: linear-gradient(to right, #5463e9, #e9e9e9);
}

.kidst {
    background: linear-gradient(to right, #2cca44, #e9e9e9);
}

.mobst {
    background: linear-gradient(to right, #9ea229, #e9e9e9);
}

#requests {
    margin-top: 5vw;
    padding-top: 12vw;
    background: linear-gradient(to bottom, #2133e5, #2133e5, #141414);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vw;
    width: 100vw;
}

#requests p {
    font-size: 7rem;
    margin-bottom: 8vw;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 4vw;
}

input, #country, #mobcont, #message, label[for="budget"], .promcont {
    width: 90vw;
}

input, #country, #countrycode, #mobile, #message, #budget, #promocode {
    font-weight: 600;
    background-color: #e9e9e9;
    color: #e52174;
    border: none;
    border-radius: 0.5vw;
    padding: 2vw;
    transition: 0.2s ease-in-out;
}

input:focus, #country:focus, #message:focus {
    outline: none;
    box-shadow: 0 0 0.8vw 0.3vw #e52174;
}

option {
    color: #e52174;
    font-weight: 600;
}

#countrycode {
    width: 20vw;
    pointer-events: none;
    border-radius: 0.5vw 0 0 0.5vw;
    box-shadow: none;
}

#mobile {
    width: 70vw;
    border-radius: 0 0.5vw 0.5vw 0;
    border-left: #e52174 dotted 0.2vw;
}

#mobile:focus {
    box-shadow: none;
}

.focused {
    box-shadow: 0 0 0.8vw 0.3vw #e52174;
    transition: 0.2s ease-in-out;
}

#message {
    height: 30vw;
}

label[for="budget"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#budget {
    width: 45vw;
    font-size: 3.6rem;
}

.radcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2vw;
    margin-left: auto;
    font-size: 3.4rem;
    gap: 1.7vw;
}

label[for="design"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

label[for="project"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    width: 3vw;
    margin-right: 0.7vw;
    margin-bottom: 0.5vw;
    outline: none;
    background-color: #e9e9e9;
}

.form-check-input:checked {
    background-color: #e52174 !important;
}

.promcont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

label[for="promocode"] {
    width: 45vw;
}

#promocode {
    background-image: url(gift.svg);
    background-size: 4.3vw;
    background-repeat: no-repeat;
    background-position: 1.3vw;
    padding-left: 6.5vw;
    width: 27.8vw;
    font-size: 3.15rem;
    border-radius: 0.5vw 0 0 0.5vw;
    box-shadow: none;
}

.clear {
    border: none;
    background-color: #e9e9e9;
    color: #e52174;
    font-size: 3.5rem;
    transition: 0.5s ease;
    cursor: default !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear:hover {
    background-color: #d2d2d2;
}

.clear:active {
    font-size: 0.5rem;
}

.apply {
    background-color: #14a72a;
    color: #e9e9e9;
    border-radius: 0.5vw;
    border: none;
    padding: 1vw;
    font-size: 3.5rem;
    transition: 0.5s ease;
}

.apply:hover {
    background-color: #4cc45e;
}

.apply:active {
    font-size: 1rem;
}

#promostatus {
    margin-left: auto;
    font-size: 1.18rem;
}

#submit {
    width: 40vw;
    height: 12vw;
    border-radius: 0.5vw;
    border: none;
    color: #e9e9e9;
    background-color: #e52174;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
}

#submit:hover {
    background-color: #e75893;
}

#submit:active {
    font-size: 1.3rem !important;
}

.toast {
    position: fixed;
    bottom: 5vw;
    width: 17vw;
    color: #e52174;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.footerlogo {
    width: 20vw;
    margin-bottom: 1vw;
}

footer .title {
    font-size: 8rem;
}

.dear {
    width: 40vw;
    position: absolute;
    left: -14vw;
    filter: drop-shadow(0 0 1vw #5463e9);
    transition: filter 0.8s ease-in-out;
}

.dear:hover {
    filter: drop-shadow(0 0 2vw #eb83ae);
}

footer .title {
    color: #e9e9e9;
    margin-top: 3vw;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

.qrcode {
    display: none;
}

.conticons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 48vw;
    gap: 2vw;
}

.conticons svg {
    width: 10vw;
    stroke: #e9e9e9;
    fill: #e9e9e9;
    transition: 0.3s ease;
}

.facebook {
    enable-background: new 0 0 50 50;
}

.whatsapp {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
}

.upicon {
    width: 11.8vw !important;
}

.xicon {
    width: 8vw !important;
    enable-background: new 0 0 24 24;
}

.conticons svg:hover {
    stroke: #e52174;
    fill: #e52174;
}

.mail {
    width: 60vw;
    height: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #e52174;
    border-radius: 1vw;
    margin-top: 2vw;
    margin-bottom: 7vw;
    overflow: hidden;
}

.mail a {
    background-color: #e52174;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail svg {
    width: 8vw;
}

@keyframes mail {
    from {
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(0);
    }
}

.mail a:hover svg {
    stroke: #e9e9e9;
    fill: #e9e9e9;
    stroke-width: 0.01vw;
    position: relative;
    animation-name: mail;
    animation-duration: 0.3s;
}

#copybtn {
    font-size: 3.6rem;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #e9e9e9;
    transition: 0.5s ease;
}

#copybtn:hover {
    background-color: #e52174;
}

#copybtn:active {
    font-size: 1.5rem;
}

#copytoast {
    position: fixed;
    bottom: 5vw;
    width: 40vw;
    height: 10vw;
    z-index: 3;
}

.last {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
    margin-top: auto;
    z-index: 2;
}

.copyrt {
    width: 4.5vw;
    margin-right: 0.3vw;
}

.footerlogo {
    min-width: 50px;
}

.last p svg {
    color: #e52174;
    width: 2vw;
    min-width: 13px;
}

.devlogo {
    width: 7vw;
    min-width: 50px;
}

.copyrt, .footerlogo, .devlogo {
    margin-bottom: 1.5vw !important;
}

@media (min-width: 712px) {
    html {
        font-size: 0.8vw;
    }
    
    .nav2 {
        display: none;
    }
    
    .nav1{
        display: block;
        position: fixed;
        right: 2vw;
        display: flex;
        z-index: 3;
        height: 100vh;
    }

    .nav1 a {
        width: 100%;
        height: 100%;
    }
    
    .iconcont {
        background-color: #2133e5;
        border-radius: 50%;
        width: 9vw;
        height: 9vw;
        margin: 1.5vw;
        transition: 0.3s ease;
        overflow: hidden;
    }
    
    .iconcont:hover {
        background-color: #e52174;
    }
    
    .iconcont a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icon {
        stroke: #e9e9e9;
        fill: #e9e9e9;
        width: 100%;
        height: 100%;
        padding: 0.5vw;
    }
    
    .homeic {
        stroke-width: 0.5;
    }
    
    @keyframes home {
        from {
            transform: translateY(5vw);
        }
    
        to {
            transform: translateY(0);
        }
    }
    
    .iconcont:hover .homeic {
        animation-name: home;
        animation-duration: 0.5s;
        position: relative;
    }
    
    .aboutic {
        stroke-width: 0.5;
        transition: transform 0.5s ease;
    }
    
    .iconcont:hover .aboutic {
        transform: rotate(360deg);
    }
    
    .galic {
        transition: transform 0.3s ease;
    }
    
    .iconcont:hover .galic {
        transform: rotateY(360deg);
    }
    
    .vidic {
        transition: transform 0.3s ease;
        width: 8vw;
        enable-background: new 0 0 130.001 95.001;
        fill: none;
        stroke: #e9e9e9;
        stroke-width: 11;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    
    .iconcont:hover .vidic {
        transform: rotateY(360deg);
    }
    
    @keyframes port {
        from {
            transform: translateY(-4vw);
        }
    
        to {
            transform: translateY(0);
        }
    }
    
    .iconcont:hover .port {
        animation: port 0.5s ease;
        position: relative;
    }
    
    .revic {
        stroke-width: 15;
        transition: transform 0.5s ease;
    }
    
    @keyframes rev {
        from {
            transform: translateX(-4vw);
        }
    
        to {
            transform: translateX(4vw);
        }
    }
    
    .iconcont:hover .revic {
        animation: rev 1s ease infinite;
        position: relative;
        transform: scale(1.2);
    }
    
    .reqic {
        stroke-width: 0.05;
        transition: transform 0.5s ease;
    }
    
    .iconcont:hover .reqic {
        transform: rotate(-25deg) scale(1.2);
    }

    .sarapic {
        min-width: 1200px;
    }

    .saraname {
        bottom: 7vw;
    }

    .saratit {
        bottom: 3vw;
    }

    #about {
        width: 70vw;
        margin-top: 7vw;
    }

    .flags {
        width: 45vw;
    }

    .sign {
        width: 25vw;
    }

    .galcat img {
        width: 22vw;
    }

    .galcat .modal-body {
        width: 80vw;
    }

    .gal .carousel-inner {
        width: 70vw;
        height: 88vw !important;
    }

    .gal .carousel-inner img {
        width: 70vw !important;
    }

    .carousel-indicators {
        width: 70vw;
    }

    .quote {
        width: 70vw;
    }

    .ban {
        width: 70vw;
    }

    .vidcont img {
        width: 33vw;
    }

    .vidcont svg {
        width: 12vw;
    }

    .download {
        width: 40vw;
        height: 12vw;
    }

    #reviews {
        width: 45vw;
    }

    .rev {
        width: 67vw;
        height: 57vw;
    }

    .stock {
        font-size: 7rem;
    }

    .stockdis {
        width: 75vw;
    }

    .stock div:not(.imgcont) {
        width: 70vw;
        height: 15vw;
        font-size: 5.5rem;
    }

    .stock img {
        width: 12.5vw;
    }

    #requests p {
        width: 75vw;
    }

    form {
        width: 70vw;
    }

    input:not([type="radio"]), #country, #mobcont {
        width: 70vw;
    }

    #mobile {
        width: 50vw;
    }

    #message {
        height: 25vw;
    }

    #budget {
        width: 36vw;
    }

    .radcont {
        font-size: 3.1rem;
    }

    input[type="radio"] {
        width: 2.4vw;
    }

    #promocode {
        width: 22.9vw;
        font-size: 2.9rem;
    }

    #submit {
        width: 35vw;
        height: 10vw;
        font-size: 4.7rem;
    }

    #copybtn {
        font-size: 4.5rem;
    }

    .last {
        font-size: 3.9rem;
    }

    .last p svg {
        width: 4.5vw;
    }

    .footerlogo {
        width: 17vw;
    }

    .devlogo {
        width: 14vw;
    }
}

@media (min-width: 768px) {
    .gal .carousel-inner {
        margin-top: 30vw;
    }

    #videos {
        padding-top: 25vw;
    }

    #port {
        padding-top: 40vw;
    }

    .download {
        margin-bottom: 15vw;
    }

    #reviews {
        width: 40vw;
        padding-top: 25vw;
    }
}

@media (min-width: 820px) {
    html {
        font-size: 0.7vw;
    }
    
    .iconcont {
        margin: 1vw;
        width: 8vw;
        height: 8vw;
    }

    .vidic {
        width: 7vw;
    }

    .sarapic {
        min-width: 1000px;
    }

    #about {
        line-height: 4vw;
    }

    .flags {
        width: 40vw;
        left: -2.5vw;
    }

    .sign {
        width: 22vw;
        margin-bottom: 2vw;
    }

    .galcat {
        gap: 1vw;
        width: 75vw;
    }

    .galcat img {
        width: 17.5vw;
    }

    .galcat p {
        font-size: 4rem;
    }

    .modal p {
        font-size: 3.4rem;
    }

    .pause svg {
        width: 10vw;
    }

    #reviews {
        width: 30vw;
    }

    .rev {
        height: 45vw;
    }

    #requests {
        width: 98.2vw;
    }

    #requests p {
        width: 75vw;
    }

    form {
        width: 80vw;
        gap: 2vw;
    }

    input, #country, #mobcont, #budget, label[for="promocode"] {
        width: 36vw !important;
        font-size: 2.98rem;
    }

    input, #countrycode, #mobile, #budget, #promocode {
        padding: 1.5vw;
    }

    #country {
        padding: 1.8vw;
    }

    #countrycode {
        width: 10vw !important;
    }

    #mobile {
        width: 26vw !important;
    }

    #message, label[for="budget"], .promcont {
        width: 74vw;
    }

    #message {
        font-size: 2.98rem;
        height: 18vw;
    }

    .radcont {
        font-size: 3.8rem;
    }

    input[type="radio"] {
        width: 2vw !important;
    }

    #promocode {
        width: 24.33vw !important;
        padding-left: 7vw;
    }

    #submit {
        width: 30vw !important;
        height: 8vw;
        margin-top: 3vw;
    }

    .dear {
        width: 33vw;
        left: -11vw;
    }

    .qrcode {
        display: block;
        width: 20vw;
        min-width: 130px;
        border-style: solid;
        border-color: #e52174;
        border-radius: 1vw;
        padding: 1vw;
        margin: auto;
    }

    .conticons {
        width: 38vw;
    }

    .conticons svg {
        width: 7vw;
    }

    .upicon {
        width: 8vw !important;
    }

    .xicon {
        width: 6vw !important;
    }

    .mail {
        width: 55vw;
        height: 10vw;
    }
}

@media (min-width: 912px) {
    #requests {
        width: 100vw;
    }
}

@media (min-width: 1024px) {
    #requests {
        width: 98.5vw;
    }
}

/*@media (min-width: 1200px) {
    html {
        font-size: 1.2vw;
    }

    .iconcont {
        min-width: 3vw;
        min-height: 3vw;
        margin: 0.5vw;
    }

    .vidic {
        min-width: 2vw;
    }

    #about {
        font-size: 1.5rem;
        line-height: 3vw;
    }

    .flags {
        min-width: 280px;
        bottom: -8vw;
    }

    .sign {
        min-width: 160px;
        bottom: -12vw;
    }

    .galcat {
        margin-bottom: 5vw !important;
    }

    .galcat img {
        min-width: 160px;
    }

    .galcat p {
        font-size: 1.5rem;
    }

    .galcat .modal-content, .galcat .modal-body {
        width: 70vw !important;
    }

    .modal p {
        font-size: 1rem;
    }

    .gal .carousel-inner {
        margin-top: 0vw !important;
        min-width: 500px !important;
        min-height: 580px !important;
    }

    .gal .carousel-inner img {
        min-width: 500px !important;
    }

    .carousel-control-next, .carousel-control-prev {
        cursor: default !important;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        cursor: pointer;
    }

    .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
        background-color: #e52174;
        border-radius: 50%;
    }

    .pc-cont {
        bottom: -2.5vw;
    }

    .pause svg {
        min-width: 50px;
        margin-bottom: 0.3vw;
    }

    .caption {
        font-size: 1.5rem;
    }

    .ban {
        width: 80vw !important;
    }

    .rev {
        min-height: 265px;
    }

    .revtitle, .revtxt {
        font-size: 1.5rem;
    }

    .stockdis {
        font-size: 1.7rem !important;
    }

    #requests {
        width: 98.8vw !important;
    }

    #requests p {
        font-size: 3rem;
        text-align: center;
    }
}*/